# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Models
*.ckpt
*.safetensors
*.pt
*.pth

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/